{% assign about = site.data.hometext.about %}
{% assign author = site.data.authors %}
<section class="page-section" id="{{ about.section | default: " about" }}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="about">
                    <h2 class="text-uppercase text-center align-justify">{{ about.title }}</h1>
                        {{ about.text | markdownify }}
                        <p class="contact"><b>Contact me:</b> qhuong [dot] lai [at] gmail [dot] com</p>
                </div>
                <hr>
                <div class="news">
                    <h3>News</h3>
                    <ul>
                        {% for news in about.news %}
                        <li>{{ news.text | markdownify }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>