<!-- About -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="text-uppercase">{{ site.data.hometext.timeline.title | default: "Experience" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline-experience">
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\absilon.png">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>14/09/2026 - now</h4>
              <h4 class="subheading">Clinical data manager training at Absilon, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I am currently completing <strong>Clinical Data Manager</strong> training at Absilon in France. I am transitioning toward clinical data analysis and management, where I can apply my skills in data processing, programming, quality control, and biological data interpretation to support <strong>clinical research</strong>.
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\EG_lab.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2022 - 2026</h4>
              <h4 class="subheading">My Ph.D. journey at IRCAN, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I conducted my Ph.D. research on studying Coevolution and functional diversification of the </strong>TRF2–Apollo interaction</strong>  in jawed vertebrates in Eric Gilson team.
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\huawei_2022.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2022 - 2024</h4>
              <h4 class="subheading">Research Engineer at Huawei Paris Research Center, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I joined Huawei Technologies France to further extend my studies of <strong>safe, interpretable
              AI/ML</strong> on <strong>SD-WAN networks.</strong>
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\Grenoble_2019.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2019 - 2022</h4>
              <h4 class="subheading">My Ph.D. journey at CEA-Grenoble, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I conducted my <a href="https://theses.hal.science/tel-04141523">Ph.D. research</a> on <strong>Math
              optimization, ML</strong> approaches for <strong>5G URLLC communications.</strong>
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\ucm_20182.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2018</h4>
              <h4 class="subheading"> 2nd semester of my Master at UCM Madrid, Spain</h4>
            </div>
          </div>
          <div class="timeline-text">
            It was wonderful to comeback to Spain and enjoy every bit of moment in Madrid!
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\cachan_20174.JPG">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2017</h4>
              <h4 class="subheading">Master's degree at ENS Cachan, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I pursued a two-year <a href="http://monabiphot.ens-paris-saclay.fr/">Master program (MONABIPHOT)</a>, which
            is related to <strong>molecular photonics</strong> for <strong>telecoms</strong>.
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\upv_2016.JPG">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016 - 2017</h4>
              <h4 class="subheading">Academic exchange program at UPV, Valencia, Spain</h4>
            </div>
          </div>
          <div class="timeline-text">
            The course training, lab assignments at <a href="http://www.upv.es/titulaciones/MUTSRC/indexi.html"> UPV</a>
            focused on <strong>Image/Digital signal processing and Mobile wireless networks.</strong>.
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\ascent2.JPG">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016</h4>
              <h4 class="subheading">Exchange student at Tokyo Tech, Japan</h4>
            </div>
          </div>
          <div class="timeline-text">
            To encourage international research/academic exchange (and as a big fan of manga), I took part in the <a
              href="http://sage-titech.com/ascent_e.html">ASCENT</a> program in Japan.
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\hust.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2011 - 2016</h4>
              <h4 class="subheading">Engineer's degree at HUST, Vietnam</h4>
            </div>
          </div>
          <div class="timeline-text">
            After 5 years of dedication, my enthusiasm on <strong>mobile communication networks</strong> guided me
            towards my engineering degree in Vietnam.
          </div>
        </li>
        <li class="timeline-inverted">
          <a class="timeline-image end" href="https://dnlam.github.io/CV/">
            <h4>{{ site.data.hometext.timeline.end }}</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.hometext.timeline.title | default: "Experience" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li class="timeline-inverted">
          <a class="timeline-image end" href="https://dnlam.github.io/CV/">
            <h4>{{ site.data.hometext.timeline.end }}</h4>
          </a>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="assets\img\timeline\hust_20162.jpg" alt="HUST">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016</h4>
              <h4 class="subheading">AAAA</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->


<!-- </section> -->
<!-- End About -->