<!-- About -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="text-uppercase">{{ site.data.hometext.timeline.title | default: "Experience" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline-experience">
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\absilon2.png">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>14/09/2026 - now</h4>
              <h4 class="subheading">Clinical data manager training at Absilon, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I am transitioning toward clinical data analysis and management, where I can apply my skills in data processing, programming, quality control, and biological data interpretation to support <strong>clinical research</strong>.
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\EG_lab.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2022 - 2026</h4>
              <h4 class="subheading">My Ph.D. journey at IRCAN, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I conducted my PhD research on the coevolution and functional diversification of the <strong>TRF2–Apollo interaction</strong> in jawed vertebrates as part of <a href="https://www.ircan.org/research/teams/eric-gilson/"> <strong>Eric Gilson’s team</strong> </a>.
          </div>
        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\X.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2021 - 2022</h4>
              <h4 class="subheading">Master at Ecole Polytechnique, Paris</h4>
            </div>
          </div>
          <div class="timeline-text">
            I completed a one-year <a href="https://www.ip-paris.fr/en/education/masters/biology-and-health-program/master-year-2-biology-biotechnology-and-health"> <strong>Master’s program in Biology, Biotechnology and Health</strong> </a>, followed by a <strong>six-month research internship at École Polytechnique</strong>, where I worked on the project <strong>“Role of DNA Bending in EndoMS/NucS Function.”</strong>
          </div>

        </li>
        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\IBS.png">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2020-2021</h4>
              <h4 class="subheading">My master internship at IBS Grenoble, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I completed a <strong>six-month research internship</strong> at the <a href="https://www.ibs.fr/"> <strong>Institut de Biologie Structurale (IBS)</strong> </a> in Grenoble, France, where I worked on the <strong>development of novel inhibitors against human parainfluenza virus</strong>.
          </div>
        </li>

        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\ucm_20182.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2020</h4>
              <h4 class="subheading"> 2nd semester of my Master at UCM Madrid, Spain</h4>
            </div>
          </div>
          <div class="timeline-text">
            It was wonderful to comeback to Spain and enjoy every bit of moment in Madrid!
          </div>
        </li>

        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\ENS_PS.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2018</h4>
              <h4 class="subheading"> Master's degree at ENS Cachan, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I pursued a <a href="http://monabiphot.ens-paris-saclay.fr/">Master program MONABIPHOT (Molecular Nanosciences, BioPhotonics and Biophysics)</a> , focusing on biophotonics, biomolecular interactions, biosensors, and fluorescence-based biological imaging.
          </div>
        </li>

        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\sorbone.png">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2018</h4>
              <h4 class="subheading"> Bachelor's internship at Sorbonne University, Paris</h4>
            </div>
          </div>
          <div class="timeline-text">
            During my internship, I investigated transcriptional regulation in Escherichia coli, gaining practical experience in molecular biology and developing a deeper understanding of the mechanisms that control bacterial gene expression
          </div>
        </li>


        <li class="timeline-inverted">
          <!-- <div class="timeline-image"> -->
          <div class="round-box timeline-image">
            <img src="assets\img\timeline\USTH.jpg">
            <!-- </div> -->
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2018</h4>
              <h4 class="subheading"> Bachelor's degree at USTH, France</h4>
            </div>
          </div>
          <div class="timeline-text">
            I earned a <strong>Bachelor’s degree in Biotechnology</strong> from the <a href="https://usth.edu.vn/en/"> <strong> University of Science and Technology of Hanoi (USTH) </strong> </a>, where I developed a strong foundation in molecular biology, genetics, biochemistry, microbiology, and biotechnology.
          </div>
        </li>

        </li>
        <li class="timeline-inverted">
          <a class="timeline-image end" href="https://dnlam.github.io/CV/">
            <h4>{{ site.data.hometext.timeline.end }}</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">{{ site.data.hometext.timeline.title | default: "Experience" }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li class="timeline-inverted">
          <a class="timeline-image end" href="https://dnlam.github.io/CV/">
            <h4>{{ site.data.hometext.timeline.end }}</h4>
          </a>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="assets\img\timeline\hust_20162.jpg" alt="HUST">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016</h4>
              <h4 class="subheading">AAAA</h4>
            </div>
          </div>
          <div class="timeline-text">
            Hello
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->


<!-- </section> -->
<!-- End About -->